@use '~@angular/material' as mat;
@use 'sass:map';
@use '../app/banner/banner.component.scss-theme.scss' as banner;
@use '../app/app.component.scss-theme.scss' as root;

// Extra colors
$workshop-success: mat.define-palette(mat.$green-palette);
$workshop-info: mat.define-palette(mat.$blue-palette);


$workshop-typography: mat.define-typography-config(
    $font-family: "'Open Sans', sans-serif",
    $display-4:  mat.define-typography-level(95px, 95px, 300, $letter-spacing: -0.05em)
);



// success: $workshop-success,
// info: $workshop-info,

@function apply-extra-colors($theme) {
    @return map.deep-merge($theme,(
        
        color:(
            success: $workshop-success,
            info: $workshop-info
        )
    ));
}


@mixin create-theme($theme) {
    //@include angular-material-theme($theme); //it include everything
    
    //to reduce bundle size; only used component css  will be applied here
    @include mat.core-theme($theme);
    @include mat.select-theme($theme);
    @include mat.toolbar-theme($theme);
    @include mat.button-theme($theme);
    @include mat.card-theme($theme); 
    @include mat.form-field-theme($theme);  
    @include mat.input-theme($theme);
    @include mat.sidenav-theme($theme);
    
    @include banner.app-banner-theme($theme);
    @include root.app-root-theme($theme);
}
